{% extends "base.html" %}

{% block title %}
    Random
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col s4 offset-s4 ">
        <h4>
          Write down a new task
        </h4>
    </div>
</div>

<div class="row">
    <div class="col s4 offset-s4 ">
    <form class="col s12" action="/add" method="POST">
        <div class="row">
            <input placeholder="Task body" id="taskBody" type="text" name="task_body">
            <label for="taskBody">TaskName</label>
        </div>
        <button type="submit" class="btn-floating btn-large waves-effect waves-light red">
            <i class="material-icons">add</i>
    </div>
        </button>  
    </form>
</div>
   


{% endblock content %}

